@media screen and (max-width: 500px) {

    .container {
        margin: 0px;
        padding: 0 12px;
    }

    header{
        position: fixed;
        position: sticky;
    }

    header nav {
        align-items: center;
        width: 100%;
        height: 5rem;
        z-index: 999;
    }

    header nav .header-btns {
        height: 50px;
        padding-top: 15px;
    }

    header nav .header-btns .btn-one {
        color: #fff;
        margin-right: 25px;
    }

    #nav-menu{
        display: none;
    }

    .nav-bar .hamburger {
        display: block;
   }

   .nav-bar .hamburger.active .bar:nth-child(2){
       opacity: 0;
   }

   .nav-bar .hamburger.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
   }

   .nav-bar .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background-color: #0E1012;
        width: 50%;
        align-items: center;
        transition: 0.6s;
        border-bottom-right-radius: 25px;
    }

    .nav-menu .nav_item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .container section#page-accueil {
        width: 100%;
        height: 250px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .container section#page-accueil .page-accueil-item .item-un span {
        color: #fff;
        font-weight: bold;
        font-size: 30px;
    }

    .container section#page-accueil .page-accueil-item .item-deux {
        color: #A0AABA;
        font-size: 20px;
    }

    .container section#slider {
        width: 100%;
        float: left;
        margin-top: 0px;
    }

    .container section#partenaires .partenaire-logo {
        align-items: center;
        text-align: center;
        margin-bottom: 25px;
    }

    .container section#partenaires .partenaire-logo h1 {
        color: #fff;
        margin-bottom: 35px;
        font-size: 15px;
    }

    .container section#partenaires .partenaire-logo .pat-logo-un img {
        width: 60px;
        height: 60px;
        margin-right: 1px;
    }

    .container section#partenaires .partenaire-logo .pat-logo-deux img {
        width: 60px;
        height: 60px;
        margin-right: 1px;
        object-fit: cover;
    }

    .container section#partenaires .partenaire-logo a {
        color: #097cf6;
        font-size: 17px;
    }

    .container section#navigation{
        padding: 0 5px;
        height: 680px;
    }

    .container section#navigation h1 {
        color: #fff;
        font-size: 35px;
        padding-bottom: 10px;
    }

    .container section#navigation p {
        color: #fff;
        width: 100%;
        height: 240px;
    }

    .container section#navigation .nav-img img {
        width: 100%;
        height: 300px;
        border-radius: 25px;
        object-fit: cover;
    }

    .container section#mentorat {
        width: 100%;
        height: 600px;
        padding: 10px;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .container section#mentorat .mentorat-item {
        flex-direction: column-reverse;
    }

    .container section#mentorat .mentorat-item .mentorat-notes {
        align-items: center;
        text-align: center;
        padding-top: 1px;
        padding-bottom: 25px;
    }

    .container section#mentorat .mentorat-item .mentorat-img img {
        width: 100%;
        height: 280px;
        border-radius: 25px;
        object-fit: cover;
    }

    .container section#search {
        width: 100%;
        height: 660px;
        padding: 10px;
        margin-bottom: 30px;
    }

    .container section#search .search-item {
        flex-direction: column-reverse;
    }

    .container section#search .search-item .search-img img {
        width: 100%;
        height: 340px;
        border-radius: 25px;
        object-fit: cover;
    }

    .container section#search .search-item .search-notes {
        align-items: center;
        text-align: center;
        padding-bottom: 25px;
        padding-top: 1px;
    }

    .container section#customer {
        width: 100%;
        height: 800px;
        margin-bottom: 200px;
    }

    .container section#customer .customer-item {
        flex-direction: column;
    }

    .container section#customer .customer-item .customer-notes {
        padding-top: 150px;
        padding-left: 50px;
        margin-bottom: 25px;
    }

    .container section#customer .customer-item .customer-notes h1 {
        color: #fff;
        font-size: 50px;
        padding-top: 10px;
    }

    .container section#customer .customer-item .customer-img img {
        width: 100%;
        height: 500px;
    }

    .container section#vision {
        width: 100%;
        height: 600px;
        padding: 10px;
        margin-bottom: 25px;
    }

    .container section#vision .vision-item {
        flex-direction: column-reverse;
    }

    .container section#vision .vision-item .vision-img img {
        width: 100%;
        height: 280px;
        border-radius: 25px;
        object-fit: cover;
    }

    .container section#vision .vision-item .vision-notes {
        align-items: center;
        text-align: center;
        padding-top: 1px;
        margin-bottom: 25px;
    }

    .container section#donnees {
        width: 100%;
        height: 715px;
        padding: 10px;
        margin-bottom: 25px;
    }

    .container section#donnees .donnees-item {
        flex-direction: column;
    }

    .container section#donnees .donnees-item .donnees-notes h1 {
        color: #fff;
        font-size: 50px;
        padding-top: 8px;
    }

    .container section#donnees .donnees-item .donnees-notes p {
        color: #A0AABA;
        margin-bottom: 20px;
    }

    .container section#donnees .donnees-item .donnees-img img {
        width: 100%;
        height: 360px;
        border-radius: 25px;
        margin-top: 25px;
        object-fit: cover;
    }

    .container section#cours {
        width: 100%;
        height: 600px;
        padding: 10px;
        margin-bottom: 30px;
    }

    .container section#cours .cours-item {
        flex-direction: column-reverse;
    }

    .container section#cours .cours-item .cours-img img {
        width: 100%;
        height: 270px;
        border-radius: 25px;
        object-fit: cover;
    }

    .container section#cours .cours-item .cours-notes {
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .container section#guide {
        width: 100%;
        height: 350px;
        background-color: #161A1D;
        border-radius: 25px;
        align-items: center;
        text-align: center;
        margin-bottom: 150px;
    }

    .container section#guide .guide-items {
        padding-top: 80px;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .container section#guide .guide-items .guide-item{
        align-items: center;
        text-align: center;
    }

    .container section#guide .guide-items .guide-item h1 {
        color: #fff;
        font-size: 30px;
    }

    .container section#guide .guide-items .guide-item p {
        color: #9DA7B6;
        font-size: 15px;
    }

    .container section#footer-one {
        width: 100%;
        height: 1200px;
    }

    .container section#footer-one .footer-one-items {
        display: block;
    }

    .container section#footer-one .footer-one-items .footer-one-products-company {
        display: flex;
        padding: 0px;
        margin-bottom: 20px;
    }

    .container section#footer-one .footer-one-items .footer-one-products-company .footer-one-products {
        margin-right: 120px;
    }

    .container section#footer-two {
    width: 100%;
    height: 150px;
    align-items: center;
    text-align: center;
    }

    .container section#footer-two .footer-two-items {
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 0px;
    margin-bottom: 50px;
    }

    .container section#footer-two .footer-two-items .footer-two-liens{
        margin-top: 10px;
    }

    .container section#footer-two .footer-two-items .footer-two-liens a {
        color: #9c9c9d;
        margin-right: 20px;
    }

    .container section#footer-two .footer-two-items .footer-two-icons i {
        color: #9c9c9d;
        margin-right: 30px;
        font-size: 25px;
        align-items: center;
        text-align: center;
    }

    .container .cookie-container.active {
        bottom: 10px;
        width: 300px;
    }

    .container .cookie-container {
        position: fixed;
        background: #171C1F;
        color: white;
        padding: 10px 12px;
        height: 70px;
        display: flex;
        border-radius: 50px;
        margin-left: 40px;
        transition: .4s;
        text-align: center;
        align-items: center;
    }

    .container .cookie-container .para {
        margin-right: 2px;
        width: 100%;
        padding: 5px;
    }

    .container .cookie-container .para p{
        font-size: 11px;
    }

    .container .cookie-container .cookie-btn {
        background: blue;
        border: 0;
        color: white;
        padding: 15px 15px;
        font-size: 18px;
        border-radius: 30px;
        width: 100px;
        height: 50px;
        cursor: pointer;
    }
}