*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

.container .btn-scroll{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    right: 30px;
    bottom: 20px;
    cursor: pointer;
}

.container .btn-scroll i {
    font-size: 50px;
    color: #097cf6;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    background-color: #0E1012;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 999;
    background-color: #0E1012;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 0 1rem;
    z-index: 999;
}

header nav li{
    display: inline-block;
}


header nav .header-btns{
    width: 150px;
    height: 50px;
    padding-top: 15px;
}


header nav .header-btns .btn-one{
    color: #fff;
    margin-right: 5px;
}


header nav .header-btns .btn-two {
    background-color: blue;
    border-radius: 50px;
    color: #fff;
    padding: 6px;
}

header nav .header-btns .btn-two:hover{
    background-color: #097cf6;
}

header nav .nav-menu{
    flex-direction: row;
}




.toggle_menu,
.close_menu{
    display: none;
}

.logo img{
    width: 35px;
    height: 35px;
}

.nav_list{
    display: flex;
}

.nav_item{
    margin: 0 1.5rem;
    padding: 1.4rem;
}

.nav_link{
    font-weight: 500;
    color: #fff;
}

.nav_link:hover{
    color: #097cf6;
}

.nav_list .dropdown_link{
    display: flex;
    align-items: center;
}

.nav_list .dropdown_icon{
    font-size: 1rem;
}

.megamenu{
    position: absolute;
    width: 60%;
    top: 4rem;
    left: 0;
    background-color: #333334;
    display: flex;
    justify-content: center;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 23px 23px -21px rgba(0, 0, 0, 0.25);
    z-index: -99;
    visibility: hidden;
    opacity: 0;
    margin-left: 270px;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}

.megamenu_item{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.header_megamenu{
    font-weight: 600;
    color: #a8a1b5;
    margin-bottom: 1rem;
}

.menu_icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    background-color: #efeef1;
    margin-right: 0.5rem;
}

.menu_icon i{
    line-height: 32px;
    font-size: 22px;
    color: #097cf6;
}

.megamenu_link a{
    font-weight: 500;
    color: #fff;
}

.megamenu_link a:hover{
    color: #a92ec8;
}

.megamenu_link p{
    font-size: 0.6875rem;
    font-weight: 400;
    color: #a8a1b5;
}

.dropdown:hover .megamenu{
    color: #a92ec8;
    visibility: visible;
    transition: all 1.2s ease;
    opacity: 1;
}

.nav_item:hover .dropdown_icon{
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

.container{
    margin: 0 15px;
}


.nav-bar .hamburger{
    display: none;
    cursor: pointer;
}

.nav-bar .hamburger .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}




/* Section page d'accueil */

.container section#page-accueil{
    width: 100%;
    height: 250px;
    padding-top: 80px;
    padding-bottom: 350px;
}

.container section#page-accueil .page-accueil-item{
    align-items: center;
    text-align: center;
}

.container section#page-accueil .page-accueil-item .item-deux{
    color: #A0AABA;
    font-size: 40px;
}

.container section#page-accueil .page-accueil-item .button{
    padding-top: 25px;
}

.container section#page-accueil .page-accueil-item a{
    color: #fff;
    background-color: #097cf6;
    padding: 10px;
    border-radius: 25px;
}

.container section#page-accueil .page-accueil-item a:hover{
    background-color: transparent;
    color: #097cf6;
    border: 1px solid #097cf6;
}

.container section#page-accueil .page-accueil-item .item-un span{
    color: #fff;
    font-weight: bold;
    font-size: 70px;
}

/* Fin Section page d'accueil  */





/* Slider */

.container section#slider{
    width: 100%;
    float: left;
    padding-top: 50px;
}
/* End Slider */





/* Begin part partenaires */

.container section#partenaires .partenaire-logo{
    align-items: center;
    text-align: center;
}

.container section#partenaires .partenaire-logo h1{
    color: #fff;
    margin-bottom: 35px;
}

.container section#partenaires .partenaire-logo a{
    color: #097cf6;
    font-size: 35px;
}

.container section#partenaires .partenaire-logo a i{
    color: #097cf6;
    font-size: 50px;
}

.container section#partenaires .partenaire-logo .pat-logo-un img{
    width: 120px;
    height: 100px;
}
/* End part partenaires */







/* Partie navigation */

.container section#navigation{
    width: 100%;
    text-align: justify;
}

.container section#navigation h1{
    color: #fff;
}

.container section#navigation p{
    color: #fff;
    margin-bottom: 10px;
    width: 500px;
    height: 200px;
}

.container section#navigation a{
    color: #fff;
    border: 1px solid #fff;
    padding: 7px;
    border-radius: 50px;
    font-weight: bold;
}

.container section#navigation a:hover{
    background-color: #001832;
    transition: all 0.3s ease-in-out;
}

.container section#navigation .nav-img{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.container section#navigation .nav-img img{
    width: 100%;
    height: 400px;
    border-radius: 25px;
    object-fit: cover;
}

/* Fin partie navigation */








/* Section mentorat */

.container section#mentorat{
    width: 100%;
    height: 300px;
    padding: 10px 35px;
    margin-bottom: 200px;
}

.container section#mentorat .mentorat-item{
    display: flex;
}

.container section#mentorat .mentorat-item .mentorat-img img{
    width: 600px;
    margin-right: 60px;
    height: 400px;
    border-radius: 25px;
    object-fit: cover;
}

.container section#mentorat .mentorat-item .mentorat-notes{
    align-items: center;
    text-align: justify;
    padding-top: 80px;
}

.container section#mentorat .mentorat-item .mentorat-notes h1{
    color: #fff;
    font-size: 50px;
}

.container section#mentorat .mentorat-item .mentorat-notes p{
    color: #A0AABA;
    margin-bottom: 10px;
}

.container section#mentorat .mentorat-item .mentorat-notes a{
    color: #fff;
    border: 1px solid #fff;
    padding: 7px;
    border-radius: 50px;
    font-weight: bold;
}

.container section#mentorat .mentorat-item .mentorat-notes a:hover{
    background-color: #001832;
    transition: all 0.3s ease-in-out;
}
/* Fin section mentorat */








/* Section mentorat */

.container section#search{
    width: 100%;
    height: 300px;
    padding: 10px 35px;
    margin-bottom: 300px;
}

.container section#search .search-item{
    display: flex;
}

.container section#search .search-item .search-img img{
    width: 600px;
    margin-right: 60px;
    height: 400px;
    border-radius: 25px;
    object-fit: cover;
}

.container section#search .search-item .search-notes{
    align-items: center;
    text-align: justify;
    padding-top: 80px;
}

.container section#search .search-item .search-notes h1{
    color: #fff;
    font-size: 50px;
}

.container section#search .search-item .search-notes p{
    color: #A0AABA;
    margin-bottom: 10px;
}

.container section#search .search-item .search-notes a{
    color: #fff;
    border: 1px solid #fff;
    padding: 7px;
    border-radius: 50px;
    font-weight: bold;
}

.container section#search .search-item .search-notes a:hover{
    background-color: #001832;
    transition: all 0.3s ease-in-out;
}
/* Fin section search */






/* Section customer */
.container section#customer{
    width: 100%;
    height: 500px;
    margin-bottom: 200px;
    background-color: #171C1F;
    border-radius: 25px;
}

.container section#customer .customer-item{
    display: flex;
}

.container section#customer .customer-item .customer-notes{
    padding-top: 150px;
    padding-left: 50px;
}

.container section#customer .customer-item .customer-notes h1{
    color: #fff;
    font-size: 50px;
}

.container section#customer .customer-item .customer-notes p{
    color: #A0AABA;
    margin-bottom: 35px;
}

.container section#customer .customer-item .customer-notes .btn-customer-deux{
    color: #fff;
    border: 1px solid #fff;
    padding: 7px;
    border-radius: 50px;
    font-weight: bold;
}

.container section#customer .customer-item .customer-notes .btn-customer-un{
    background-color: #2FC078;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.container section#customer .customer-item .customer-img img{
    width: 700px;
    height: 500px;
    border-radius: 25px;
    object-fit: cover;
}
/* Fin Section customer */





/* Debut carroussel */

.container .carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}
.container .carousel-item {
    flex: 1 0 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
}

/* ::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
} */

/* Fin carroussel */







/* Section vision */
.container section#vision{
    width: 100%;
    height: 300px;
    padding: 10px 35px;
    margin-bottom: 300px;
}

.container section#vision .vision-item{
    display: flex;
}

.container section#vision .vision-item .vision-img img{
    width: 600px;
    margin-right: 60px;
    height: 400px;
    border-radius: 25px;
    object-fit: cover;
}

.container section#vision .vision-item .vision-notes{
    align-items: center;
    text-align: justify;
    padding-top: 80px;
}

.container section#vision .vision-item .vision-notes h1{
    color: #fff;
    font-size: 50px;
}

.container section#vision .vision-item .vision-notes p{
    color: #A0AABA;
    margin-bottom: 10px;
}

.container section#vision .vision-item .vision-notes a{
    color: #fff;
    border: 1px solid #fff;
    padding: 7px;
    border-radius: 50px;
    font-weight: bold;
}

.container section#vision .vision-item .vision-notes a:hover{
    background-color: #001832;
    transition: all 0.3s ease-in-out;
}
/* Fin section vision */






/* Section donnees */
.container section#donnees{
    width: 100%;
    height: 300px;
    padding: 10px 35px;
    margin-bottom: 300px;
}

.container section#donnees .donnees-item{
    display: flex;
}

.container section#donnees .donnees-item .donnees-notes{
    text-align: justify;
}

.container section#donnees .donnees-item .donnees-notes h1{
    color: #fff;
    font-size: 50px;
    padding-top: 80px;
}

.container section#donnees .donnees-item .donnees-notes p{
    color: #A0AABA;
    margin-bottom: 50px;
}

.container section#donnees .donnees-item .donnees-notes a{
    color: #fff;
    border: 1px solid #fff;
    padding: 7px;
    border-radius: 50px;
    font-weight: bold;
}

.container section#donnees .donnees-item .donnees-notes a:hover{
    background-color: #001832;
    transition: all 0.3s ease-in-out;
}

.container section#donnees .donnees-item .donnees-img img{
    width: 600px;
    margin-right: 60px;
    height: 400px;
    border-radius: 25px;
    object-fit: cover;
}
/* Fin section donnees */





/* Section cours */
.container section#cours{
    width: 100%;
    height: 300px;
    padding: 10px 35px;
    margin-bottom: 300px;
}

.container section#cours .cours-item{
    display: flex;
}

.container section#cours .cours-item .cours-img img{
    width: 600px;
    margin-right: 60px;
    height: 400px;
    border-radius: 25px;
    object-fit: cover;
}

.container section#cours .cours-item .cours-notes{
    align-items: center;
    text-align: justify;
    padding-top: 80px;
}

.container section#cours .cours-item .cours-notes h1{
    color: #fff;
    font-size: 50px;
}

.container section#cours .cours-item .cours-notes p{
    color: #A0AABA;
    margin-bottom: 10px;
}

.container section#cours .cours-item .cours-notes a{
    color: #fff;
    border: 1px solid #fff;
    padding: 7px;
    border-radius: 50px;
    font-weight: bold;
}

.container section#cours .cours-item .cours-notes a:hover{
    background-color: #001832;
    transition: all 0.3s ease-in-out;
}
/* Fin section cours */






/* Section guide */
.container section#guide{
    width: 100%;
    height: 320px;
    background-color: #161A1D;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
}

.container section#guide .guide-items{
    padding-top: 80px;
}

.container section#guide .guide-items .guide-item h1{
    color: #fff;
    font-size: 40px;
}

.container section#guide .guide-items .guide-item p{
    color: #9DA7B6;
    font-size: 20px;
}

.container section#guide .guide-items .guide-btn{
    margin-top: 25px;
    margin-bottom: 25px;
}

.container section#guide .guide-items .guide-btn .btn-guide{
    margin-bottom: 25px;
}

.container section#guide .guide-items .guide-btn a.gratuit{
    color: #fff;
    padding: 7px;
    background-color: #097cf6;
    border-radius: 25px;
    font-weight: bold;
}

.container section#guide .guide-items .guide-btn a.equipe{
    color: #fff;
    border: 1px solid #fff;
    padding: 7px;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 25px;
}

.container section#guide .guide-items .guide-btn a.equipe:hover{
    background-color: #001832;
    transition: all 0.3s ease-in-out;
}
/* Fin section guide */







/* Section footer one */
.container section#footer-one{
    width: 100%;
    height: 700px;
}

.container section#footer-one .footer-one-items{
    display: flex;
    justify-content: space-between;
}

.container section#footer-one .footer-one-items .footer-one-logo img{
    width: 100px;
    font-size: 10px;
}

.container section#footer-one .footer-one-items .footer-one-products-company{
    display: flex;
}

.container section#footer-one .footer-one-items .footer-one-products-company .footer-one-products{
    margin-right: 250px;
}

.container section#footer-one .footer-one-items .footer-one-products-company .footer-one-products h5{
    color: #fff;
    margin-bottom: 15px;
}

.container section#footer-one .footer-one-items .footer-one-products-company .footer-one-products a{
    display: block;
    color: #9c9c9d;
    margin-bottom: 12px;
}

.container section#footer-one .footer-one-items .footer-one-products-company .footer-one-company h5{
    color: #fff;
    margin-bottom: 15px;
}

.container section#footer-one .footer-one-items .footer-one-products-company .footer-one-company a{
    display: block;
    color: #9c9c9d;
    margin-bottom: 12px;
}

.container section#footer-one .footer-one-items .footer-one-developpers h5{
    color: #fff;
    margin-bottom: 15px;
}

.container section#footer-one .footer-one-items .footer-one-developpers a{
    display: block;
    color: #9c9c9d;
    margin-bottom: 12px;
}
/* Fin section footer one */






/* Debut Footer two */
.container section#footer-two{
    width: 100%;
    height: 100px;
    align-items: center;
    text-align: center;
}

.container section#footer-two .footer-two-items{
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
}

.container section#footer-two .footer-two-items .footer-two-liens a{
    color: #9c9c9d;
    margin-right: 10px;
}

.container section#footer-two .footer-two-items .footer-two-icons i{
    color: #9c9c9d;
    margin-right: 25px;
    font-size: 20px;
}

.container section#footer-two .copyright{
    color: #9c9c9d;
}

.container section#footer-two .copyright i{
    color: red;
}
/* Fin footer-two */







/* Partie Cookies */

.container .cookie-container {
    position: fixed;
    bottom: -100;
    background: #171C1F;
    color: white;
    padding: 10px 12px;
    transition: 400ms;
    width: 500px;
    height: 80px;
    display: flex;
    border-radius: 50px;
    margin-left: 420px;
    transition: .4s;
}

.container .cookie-container.active{
    bottom: 10px;
}

.container .cookie-container .para{
    margin-right: 25px;
    height: 50px;
    width: 600px;
    padding: 5px 20px;
}

.container .cookie-container p a{
    color: #7F56D9;
}

.container .cookie-container .cookie-btn{
    background: blue;
    border: 0;
    color: white;
    padding: 15px 15px;
    font-size: 18px;
    border-radius: 30px;
    width: 100px;
    height: 60px;
    cursor: pointer;
}

.container .cookie-container .cookie-btn:hover{
    background-color: #097cf6;
}

/* Fin partie cookies */















@media screen and(max-width: 992px) {
    .megamenu{
        justify-content: start;
        flex-wrap: wrap;
    }
}

@media screen and(max-width: 768px) {
    .megamenu{
        flex-direction: column;
        position: static;
        box-shadow: none;
        border-radius: 0;
        height: 0;
        max-width: 350px;
        overflow: hidden;
    }

    .dropdown:hover .megamenu{
        height: 100%;
    }

    .nav_list{
        position: absolute;
        height: 100vh;
        width: 100%;
        left: -100%;
        max-width: 350px;
        top: 0;
        background-color: #fff;
        flex-direction: column;
        overflow-x: hidden;
        display: block;
        transition: 0.3s;
    }

    .toggle_menu,
    .close_menu{
        display: block;
    }

    .toggle_menu i:hover{
        color: #a92ec8;
    }

    .close_menu {
        margin: 1rem 1rem 1rem auto;
        background-color: #a92ec8;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        text-align: center;
    }

    .close_menu:hover{
        color: #632e70;
    }

    .close_menu i{
        line-height: 32px;
        color: #fff;
        font-size: 22px;
    }

    .show_menu{
        left: 0;
    }
}
































